@page
@using EPiServer.Web.Mvc.Html
@model EpiSvelte.Models.Pages.PageModel
@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<div class="rounded-lg shadow-md flex items-center">
    <div class="flex-1">
        <h1 class="text-6xl">@Model.CurrentContent.Title</h1>
    </div>
    <div class="flex-1">
        <img src="@Url.ContentUrl(Model.CurrentContent.TopImage)">
    </div>
</div>


@Html.PropertyFor(x => x.CurrentContent.Blocks)

@section HeadSection {
    <link href="~/build/homepage.css" asp-append-version="true" rel="stylesheet" />
    <script defer src="~/build/homepage.js" asp-append-version="true"></script>
}