@using EpiSvelte.Extensions;
@model EpiSvelte.Models.Blocks.TabBlock;

<div>
    <div data-id="@(((IContent)Model).ContentLink.ID)" id="tabBlock">
        <div class="w-full flex flex-col mb-10">
            <div class="flex bg-zinc-600 shadow-md p-3 w-full rounded-md mb-3">
                <div data-placeholder class="mr-2 h-20 w-full rounded-xl w overflow-hidden relative bg-zinc-700"></div>
            </div>
            <div>
                <div data-placeholder
                    class="mr-2 h-52 w-full rounded-xl w overflow-hidden relative pb-[33%] bg-zinc-700">
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.AddJavaScript("/build/tabblock.js");
}