@using EPiServer.Web.Mvc.Html;
@model EpiSvelte.Models.ViewModels.HeaderViewModel;


<section id="header">
    <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
        <nav class="hidden space-x-10 md:flex">
            <div class="relative">
                <nav id="nav">
                    <ul>
                        @foreach (var item in Model.MenuItems)
                        {
                            @:<li>
                                @:<a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">@item.Name</a>

                                @if (item.SubLinks != null && item.SubLinks.Any())
                                {
                                    @:<ul>
                                        @foreach (var subitem in item.SubLinks)
                                        {
                                            @:<li> <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">@subitem.Title</a></li>
                                        }
                                    @:</ul>
                                }

                            @:</li>
                        }
                    </ul>
            </div>
        </nav>
    </div>
</section>