@using EPiServer.Web.Mvc.Html;
@model EpiSvelte.Features.ViewFeatures.HeaderViewModel;


<section id="header">
    <div class="flex items-center px-32 justify-between py-3 md:space-x-10">
        <a href="/" class="text-2xl text-zinc-300 font-bold hover:text-zinc-100">Lorem ipsum</a>
        <nav class="hidden space-x-10 md:flex">
            <div class="relative">
                <nav id="nav">
                    <ul class="flex">
                        @foreach (var item in Model.MenuItems)
                        {
                            @:<li>
                                @:<a href="@item.MenuUrl" class="rounded-full py-1 px-3.5 hover:bg-zinc-800 text-base font-medium text-zinc-300 hover:text-zinc-100">@item.Name</a>

                                @if (item.SubLinks != null && item.SubLinks.Any())
                                {
                                    @:<ul>
                                        @foreach (var subitem in item.SubLinks)
                                        {
                                            @:<li> <a href="#" class="rounded-full p-2 hover:bg-zinc-800 text-base font-medium text-zinc-300 hover:text-zinc-100">@subitem.Title</a></li>
                                        }
                                    @:</ul>
                                }

                            @:</li>
                        }
                    </ul>
            </div>
        </nav>
        <div class="text-lg text-zinc-800 cursor-pointer rounded-xl hover:text-zinc-200 py-2 px-4 transition ease-in-out duration-200 font-bold bg-slate-50 hover:bg-zinc-800">Klicka här</div>
    </div>
</section>