@tailwind base;
@tailwind components;
@tailwind utilities;

p,h1,h2,h3,h3,h4,h5,h6,a, li,span{
    @apply text-slate-100;
}

.imageGallery{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1rem; 
    grid-template-areas: 
        "area-1 area-1 area-2"
        "area-1 area-1 area-3"; 
}

.area-1 { grid-area: area-1; }
.area-2 { grid-area: area-2; }
.area-3 { grid-area: area-3; }


[data-placeholder]::after {
    content: " ";
    box-shadow: 0 0 50px 9px rgba(254,254,254);
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%; 
    animation: load 1s infinite;
}
@keyframes load {
    0%{ left: -100%}
    100%{ left: 150%}
}